.background {
    -fx-background-color: #1e2953;
}
.loginButton {
    -fx-background-color: #82c6ff;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}
.passwordTextField {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}
.text-field:empty .text {
    -fx-effect: null ;
    -fx-alignment: center ;
}
.show-password{
    -fx-background-color: #040d2f;
    -fx-prompt-text-fill: #ffffff;
}